[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
  "django>=5.1",
  "djangorestframework>=3.16",
  "django-cors-headers>=4.3",
  "djangorestframework-simplejwt>=5.5.1",
  "Pillow>=10.0",
]
